<p><%= @comment.author.name %> says:</p>

<p>
&ldquo;<%= @comment.text %>&rdquo;
</p>

<p>
<%= link_to "Reply to #{@comment.author.first_name}", @comment.mock.url %>
</p>
<% if @comment.parent_id && @comment.siblings.any? %>
  ----
  <br />
  <% @comment.siblings.sort_by(&:created_at).reverse.each do |c| %>
    <p>
      <%= distance_of_time_in_words(c.parent.created_at, c.created_at) %> 
      after, <%= c.author.name %> said:<br />
      &ldquo;<%= c.text %>&rdquo;
    </p>
  <% end %>
<% end %>
