<h1>Listing mock_lists</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% for mock_list in @mock_lists %>
  <tr>
    <td><%=h mock_list.title %></td>
    <td><%= link_to 'Show', mock_list %></td>
    <td><%= link_to 'Edit', edit_mock_list_path(mock_list) %></td>
    <td><%= link_to 'Destroy', mock_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mock_list', new_mock_list_path %>
