<div id="content">
  <div id="logo">
    <%= link_to image_tag('logo.gif'), '/Mockr'  %>
  </div>

  <% if viewer.real? %>
    <% discussions = MockView.discussions_for(viewer) %>
    <% if discussions.any? %>
      <div id="discussions">
        <h2>DISCUSSIONS</h2>
        <ul>
          <% discussions.each do |discussion| %>
            <li>
              <a href='<%= mock_url(discussion.mock, "?feedback_filter=new") 
              %>'>
                <span class="time">
                <%= 
                  distance_of_time_in_words_to_now(discussion.last_replied_at)
                %> ago
                </span>
                <%= discussion.mock.title %>
                (<%= discussion.reply_count %>)
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <div id="active_mocks">
    <h2>ACTIVE MOCKS</h2>
    <ul class="clearfix">
      <% Mock.recently_commented_mocks.each do |mock, comment| %>
        <li<%= ' class="fresh"' if mock.fresh?(viewer) %>>
          <div class="preview_container">
            <%= link_to image_tag(mock.image_path), mock_url(mock) %>
          </div>
          <div class="text">
            <%= link_to mock.title, mock_url(mock) %>
            <div class="meta">
              by <%= comment.author.first_name %> -
              <%= distance_of_time_in_words_to_now comment.created_at %> ago
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <h2>ALL FEATURES</h2>
  <div id="features">
    <% Mock.sorted_features.each do |feature| %>
      <a href="/<%= feature %>"><%= feature %></a>
    <% end %>
  </div>
</div>
