<div id="content">
  <div id="logo">
    <%= link_to image_tag('logo.gif'), '/Mockr'  %>
  </div>

  <div id="active_mocks">
    <h2>ACTIVE MOCKS</h2>
    <ul class="clearfix">
      <% Mock.recently_commented_mocks.each do |mock, comment| %>
        <li>
          <div class="preview_container">
            <%= link_to image_tag(mock.image_path), mock_url(mock) %>
          </div>
          <%= link_to mock.title, mock_url(mock) %>
          <div class="meta">
            by <%= comment.author.name %> -
            <%= distance_of_time_in_words_to_now comment.created_at %> ago
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <h2>ALL FEATURES</h2>
  <div id="features">
    <% Mock.sorted_features.each do |feature| %>
      <a href="/<%= feature %>"><%= feature %></a>
    <% end %>
  </div>
</div>
