<div class="module<%= ' commenting' if true || flash[:notice] %>" id="add_feedback_form_container">
  <p class="instructions">
    <%= link_to_function "Add general feedback", "mockr.startCommenting()" %> 
    or drag a section on the screen.
  </p>
  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <% form_for :comment, @comment, :url => comments_path,
              :html => {:id => 'add_feedback_form'} do |f| %>
    <%= f.hidden_field :mock_id, :value => @mock.id %>
    <%= f.hidden_field :x %>
    <%= f.hidden_field :y %>
    <%= f.hidden_field :width %>
    <%= f.hidden_field :height %>
    <%= f.text_area :text %>
    <div>
      <ul class="feelings_list clearfix" id="feelings_input_fields">
        <%= render :partial => "feeling",
                   :collection => Comment.basic_feelings,
                   :locals => {:f => f} %>
        <li><%= link_to_function "More Feelings...",
          "$('#advanced_feelings').slideToggle();" %></li>
      </ul>
      <% if viewer.real? %>
        <%= f.hidden_field :author_id, :value => session[:user_id] %>
      <% else %>
        <select id="comment_author_id" name="comment[author_id]">
          <option>I am...</option>
          <% User.find(:all).sort_by(&:name).each do |user| %>
            <option value="<%= user.id %>"><%= user.name %></option>
          <% end %>
        </select>
      <% end %>
      <%= image_submit_tag("buttons/add_feedback.gif") %>
    </div>
    <% if viewer.real? && viewer.name == "Chris Chan" %>
      <div class="clearfix">
        <ul class="feelings_list clearfix" id="advanced_feelings" 
        style="display: none;">
          <%= render :partial => "feeling",
                     :collection => Comment.advanced_feelings,
                     :locals => {:f => f} %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>