<div class="module">
  <% form_for :comment, @comment,
              :url => {:controller => 'comments', :action => 'create'},
              :html => {:id => 'add_feedback_form'} do |f| %>
    <%= f.hidden_field :mock_id, :value => @mock.id %>
    <%= f.hidden_field :author_id, :value => 0 %>
    <ul class="clearfix" id="feelings_input_fields">
      <% Feeling.find(:all).each do |feeling| %>
        <li>
          <%= f.radio_button :feeling_id, feeling.id %>
          <label for="comment_feeling_<%= feeling.name %>">
            <%= image_tag feeling.path %>
          </label>
        </li>
      <% end %>
    </ul>
    <%= f.text_area :text %>
    <%= image_submit_tag "buttons/add_feedback.gif" %>
  <% end %>
</div>