<div class="module">
  <% form_for :comment, @comment,
              :url => {:controller => 'comments', :action => 'create'},
              :html => {:id => 'add_feedback_form'} do |f| %>
    <%= f.hidden_field :mock_id, :value => @mock.id %>
    <%= f.hidden_field :author_id, :value => 0 %>
    <ul class="clearfix" id="feelings_input_fields">
      <li>
        <%= f.radio_button :feeling, :happy %>
        <label for="comment_feeling_happy"><%= image_tag "happy.gif" %></label>
      </li>
      <li>
        <%= f.radio_button :feeling, :sad %>
        <label for="comment_feeling_sad"><%= image_tag "sad.gif" %></label>
      </li>
    </ul>
    <%= f.text_area :text %>
    <%= image_submit_tag "buttons/add_feedback.gif" %>
  <% end %>
</div>