<ul id="comments_list">
  <% @comments.each do |comment| %>
    <li class="<%= comment.feeling.name %> comment_node"
        box="<%= '#{comment.x}_#{comment.y}_#{comment.width}_#{comment.height}' %>">
      <span class="time"
        title="<%= comment.created_at.strftime("%b %e, %l:%M%p")%>">
        <%= distance_of_time_in_words_to_now comment.created_at %> ago
      </span>
      <span class="author">
        <%= comment.author.name %> says:
      </span>
      <div class="text">
        <%= comment.text %>
      </div>
      <ul<%= ' class="no_comments"' if comment.children.empty? %>
        id="children_comments_list">
        <% if comment.children.any? %>
          <% comment.children.each do |child| %>
            <li>
              <%= child.text %>
              <div class="meta">
                <%= child.author.first_name %>,
                <span
                  title="<%= child.created_at.strftime("%b %e, %l:%M%p")%>"><%=
                  distance_of_time_in_words(comment.created_at,
                                            child.created_at) %> later</span>
              </div>
            </li>
          <% end %>
        <% end %>
          <li class="reply_link">
            <span class="fakelink">Reply</span>
          </li>
        </ul>
      <div class="reply clearfix">
        <% form_for :comment, Comment.new(:parent_id => comment.id),
                    :url => {:controller => 'comments', :action => 'create'},
                    :html => {:id => "reply_form_#{comment.id}"} do |f| %>
          <%= f.hidden_field :author_id, :value => viewer.id %>
          <%= f.hidden_field :parent_id %>
          <%= f.text_area :text %>
          <%= image_submit_tag "buttons/add_feedback.gif" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
