<ul id="comments_list">
  <% @comments.each do |comment| %>
    <li class="<%= comment.feeling.name %> comment_node" box="{x:<% comment.x %>,y:<% comment.y %>,width:<% comment.width %>,height:<% comment.height %>,id:<% comment.id %>}">
      <span class="time">
        <%= distance_of_time_in_words_to_now comment.created_at %>
      </span>
      <span class="author">
        <%= comment.author.name %> says:
      </span>
      <div class="text">
        <%= comment.text %>
      </div>
      <ul<%= ' class="no_comments"' if comment.children.empty? %> id="children_comments_list">
        <% if comment.children.any? %>
          <% comment.children.each do |child| %>
            <li>
              <%= child.text %>
              <div class="meta">
                <%= child.author.first_name %>,
                <%= distance_of_time_in_words_to_now child.created_at %>
              </div>
            </li>
          <% end %>
        <% end %>
          <li class="reply_link">
            <span class="fakelink">Reply</span>
          </li>
        </ul>
      <div class="reply">
        <% form_tag url_for(:controller => "comments", :action => "create"),
                    :method => 'post' do %>
          <%= hidden_field_tag :parent_id, comment.id %>
          <%= text_area_tag :text %>
          <%= image_submit_tag "buttons/add_feedback.gif" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
