<ul id="comments_list">
  <% @comments.each do |comment| %>
    <li class="<%= comment.feeling.name %> comment_node">
      <span class="time">
        <%= distance_of_time_in_words_to_now comment.created_at %>
      </span>
      <span class="author">
        <%= comment.author.name %> says:
      </span>
      <div class="text">
        <%= comment.text %>
      </div>
      <% if comment.children.any? %>
        <ul id="children_comments_list">
          <% comment.children.each do |child| %>
            <li>
              <%= child.text %>
              <div class="meta">
                <%= child.author.first_name %>,
                <%= distance_of_time_in_words_to_now child.created_at %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
      <div class="reply_link">
        <%= link_to "Reply", '#' %>
      </div>
      <div class="reply">
        <% form_for @comment %>
      </div>
    </li>
  <% end %>
</ul>
