<% if params[:feedback_filter] %>
  <p class="unread_notice">
    Displaying only unread comments.
    <%= link_to "See All Comments", mock_url(@mock) %>
  </p>
<% end %>
<ul id="comments_list">
  <%
    @mock.filtered_comments(params[:feedback_filter], viewer).each do |comment| 
  %>
    <li class="<%= comment.feeling.name %> comment_node"
        id="comment_<%= comment.id %>"
        <%= comment.box_attribute %>>
      <div class="arrow"></div>
      <div class="parent_meta">
        <% if comment.children.empty? %>
          <span class="fakelink replylink">Reply</span> - 
        <% end %>
        <% if comment.author_id == viewer.id %>
          <%= link_to "Delete", comment_path(comment), :method => :delete %> - 
        <% end %>
        <span class="time"
          title="<%= comment.created_at.strftime("%b %e, %l:%M%p").squish %>">
          <%= distance_of_time_in_words_to_now comment.created_at %> ago
        </span>
      </div>
      <span class="author">
        <%= comment.author.first_name %>
        <% unless comment.text.blank? %>says:<% end %>
      </span>
      <% unless comment.text.blank? %>
        <div class="text"><%= comment.text %></div>
      <% end %>
      <% if comment.children.any? %>
        <ul id="children_comments_list">
          <% comment.children.each do |child| %>
            <li>
              <%= child.text %>
              <div class="meta">
                <%= child.author.first_name %>,
                <span
                  title="<%=
                  child.created_at.strftime("%b %e, %l:%M%p").squish %>"><%=
                  distance_of_time_in_words(comment.created_at,
                                            child.created_at) %> later</span>
                <% if child.author_id == viewer.id %>
                  - <%= link_to "Delete", comment_path(child),
                    :method => :delete %>
                <% end %>
              </div>  
            </li>
          <% end %>
          <li>
            <span class="fakelink replylink">Reply</span>
          </li>
        </ul>
      <% end %>
      <div class="reply clearfix">
        <% form_for :comment, Comment.new(:parent_id => comment.id,
                                          :mock_id => @mock.id),
                    :url => {:controller => 'comments', :action => 'create'},
                    :html => {:id => "reply_form_#{comment.id}"} do |f| %>
          <%= f.hidden_field :author_id, :value => viewer.id %>
          <%= f.hidden_field :mock_id %>
          <%= f.hidden_field :parent_id %>
          <%= f.text_area :text %>
          <%= image_submit_tag "buttons/add_feedback.gif" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
