<div class="module clearfix" id="mock_header">
  <ul id="nav_list">
    <li>
      <% if @mock.prev %>
        <%= link_to "prev", mock_url(@mock.prev) %>
      <% else %>
        <%= link_to_function "prev", :class => "none" %>
      <% end %>
    </li>
    <li>
      <% if @mock.next %>
        <%= link_to "next", mock_url(@mock.next) %>
      <% else %>
        <%= link_to_function "next", "", :class => "none" %>
      <% end %>
    </li>
  </ul>
  <ul id="stats_list">
    <li id="happy_count" title="<%= @mock.happy_count %> happy reactions"><%=
      @mock.happy_count %></li>
    <li id="sad_count" title="<%= @mock.sad_count %> sad reactions"><%=
      @mock.sad_count %></li>
  </ul>
  <h2>
    <%= @mock.title %>
  </h2>
</div>
