<div class="clearfix" id="mock_header">
  <ul id="nav_list">
    <li>
      <% if @mock.prev %>
        <%= link_to "prev", mock_url(@mock.prev), :id => "prev_link" %>
      <% else %>
        <%= link_to_function "prev", :class => "none" %>
      <% end %>
    </li>
    <li class="next">
      <% if @mock.next %>
        <%= link_to "next", mock_url(@mock.next), :id => "next_link" %>
      <% else %>
        <%= link_to_function "next", "", :class => "none" %>
      <% end %>
    </li>
  </ul>

  <h2>
    <span class="date"><%= @mock.created_at.strftime("%b %e") %></span>
    <%= @mock.title %>
    <% if viewer.creator?(@mock) %>
      <%= link_to "edit", edit_mock_path(@mock) %>
    <% end %>
  </h2>

  <p class="download">
    <%= link_to "Download Mock", image_path(@mock.image_path) %>
  </p>
</div>
