<div class="clearfix" id="mock_header">
  <ul id="nav_list">
    <li>
      <% if @mock.prev %>
        <%= link_to "prev", mock_path(@mock.prev), :id => "prev_link" %>
      <% else %>
        <%= link_to_function "prev", :class => "none" %>
      <% end %>
    </li>
    <li class="next">
      <% if @mock.next %>
        <%= link_to "next", mock_path(@mock.next), :id => "next_link" %>
      <% else %>
        <%= link_to_function "next", "", :class => "none" %>
      <% end %>
    </li>
  </ul>

  <h2>
    <%= link_to image_tag("email.png"), edit_mock_path(@mock) %>
    <%= link_to image_tag("download.png"), image_path(@mock.image.url) %>
    <%= @mock.title %>
    <span class="date"><%= @mock.created_at.strftime("%b %e") %></span>
  </h2>
</div>
