<div id="sidebar">
  <%= render :partial => "mockr_header" %>
  <%= render :partial => "mock_header" %>
  <%= render :partial => "add_feedback_form" %>
  <%= render :partial => "comments" %>
</div>

<div id="mock" style="background-image: url('<%= image_path(@mock.image_path) %>');">
</div>
