<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= "#{@title} |" if @title %> Mockr</title>
    <link rel="shortcut icon" href="/images/feelings/happy.gif" />
    <%= stylesheet_link_tag "base" %>
    <%= stylesheet_link_tag "layouts/application" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "user" %>
    <%= javascript_include_tag "scrollto" %>
    <%= javascript_include_tag "plugins/jquery.form" %>
    <%= javascript_include_tag "plugins/jquery.cookie" %>
    <%= javascript_include_tag "plugins/jquery.shortkeys" %>
    <%= javascript_include_tag "mockr" %>
    <%= yield :head %>
  </head>
  <body<%= ' class="fullscreen"' unless @sidebar %>>
    <div id="header_container">
      <div class="clearfix" id="header">
        <div class="buttons">
          <%= link_to image_tag('buttons/upload-mock.png'), new_mock_path %>
          <%= link_to image_tag('buttons/new-project.png'), new_project_path %>
        </div>
        <%= link_to image_tag('logo-new.png'), home_path, :id => "logo" %>
        <div class="nav">
          <%= link_to "Home", home_path, :class => "home hoverable" %>
          <%= link_to "Settings", email_settings_path,
            :class => "settings hoverable" %>
        </div>
      </div>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
