<html>
  <head>
    <title><%= @title || '' %> | Mockr</title>
    <%= stylesheet_link_tag "base" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>      
    <%= yield %>
  </body>
</html>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "user" %>
<%= javascript_include_tag "augments" %>
<%= javascript_include_tag "mockr" %>
